body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background:url("./mario-bg.jpg");
    background-size: cover;
}


/* the whole board design */


#play_again{
    body {
        font-size: 16px; /* Set the font size to 16 pixels */
    }
    background: beige;
    
}

.container {
    display: flex;

    #board {
        width: 540px;
        height: 540px;
        background-color: green;
        margin: 12% auto ;
        display: flex;
        flex-wrap: wrap;
        background: url("./soil.png");
        border: 3px solid white;
        border-radius: 25px;
    }
    
    #rules {
        width: 350px;
        height: 350px;
        background: url("./burn-out-paper.png");
        background-size: cover;
        margin-top: 100px;
        margin-left: 0;
        border: 3px solid white;
        border-radius: 25px;
    }
    #top_info{
        position: absolute;
        top: 0;
        left: 60%;
        transform: translateX(-50%);
    }

    #board {
        position: relative;
    }

    #rules {
        position: relative;
    }
}




/* every tile have this design */
#board div{
    /* as the board dimension is 540 x 540 . so 3 x 3 grid means 9 even tiles .*/
    /* so this means width = 540/3 = 180px and height = 540/3  = 180px  */ 
    width: 180px;
    height: 180px;
    background-image: url("./pipe.png");
    background-size: cover;

    
}


/* as the mole picture is very big , we need to scale it down.*/
/*The mole image will appear in div id = "board" and into every div mole img can appear  */
#board div img{  

    width: 100px;
    height:100px ; 

    /* these five lines make sure that images are not selectable, only playable*/
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;

}
#rulesText{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    

}




